
<h2>Nuevo Barbero</h2>
<form>
    <div class="form-group">
        <label>Nombre</label>
        <input type="text" class="form-control" id="nombre" required [(ngModel)]="barbero.nombre" name="nombre" placeholder="Digite el nombre del barbero">
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="errorMessage != ''">
        <span>Ha ocurrido un error:</span><br/><span>{{errorMessage}}</span>
    </div>

    <div class="form-group">
        <button type="button" class="btn btn-primary" (click)="crearBarbero()">Guardar</button>
        &nbsp;
        <button type="button" class="btn btn-secondary" (click)="cargarListaBarberos()">Volver</button>
    </div>        
</form>